flask
flask-cors
pypdf
python-dotenv
pinecone-client
langchain
langchain-pinecone
langchain_community
google-generativeai
langchain_openai
langchain_experimental
sentence-transformers
huggingface_hub
